body{
    border: blue dotted 1px;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    flex:1;
    border: fuchsia dotted 1px;
}
.row{
    display: flex;
}
.column{
    transition: all .07s;
}
.colorBlack{
  background-color: black;
  border-color: #ffc600;
  box-shadow: 0 0 0.1rem #ffc600;
}
.colorWhite{
    background-color: white;
    border-color: #ffc600;
    box-shadow: 0 0 0.1rem #ffc600;
}
.btnClass{
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button{
    display: inline-block;
}
h1{
    font-size:60px;
	font-weight:bold;
	font-family: 'Josefin Sans', sans-serif;
	padding:40px 0 80px;
/* 	color: #353535; */
    color: coral;
	letter-spacing:10px;
	text-shadow: 4px 4px 0px #fff, 6px 6px 0px rgba(54, 54, 54, 0.5);
}