body{
    border: blue dotted 1px;
    height: 99vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container{
    flex:1;
    
}
.grid{
    border:fuchsia dotted 1px;
    border: coral double 3px;
    padding: 10px;
}
.row{
    display: flex;
}
.column{
    transition: all .07s;
}
.btnClass{
    width: 480px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 20px 0px 20px 0px;
    padding: 10px;
    border: coral double 3px;
}
button{
    display: inline-block;
    font-weight:bold;
	font-family: 'Josefin Sans', sans-serif;
    letter-spacing:0.1em;
    color: blueviolet;
}
h1{
    font-size:60px;
	font-weight:bold;
	font-family: 'Josefin Sans', sans-serif;
	padding:40px 0 40px;
    color: coral;
	letter-spacing:10px;
	text-shadow: 4px 4px 0px #fff, 6px 6px 0px rgba(54, 54, 54, 0.5);
}